/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [bio_user_id]
      ,[patron_id]
      ,[first_name]
      ,[last_name]
      ,[email_id]
  FROM [dbo].[biosequence_user]


  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [document_code_id]
      ,[document_code]
      ,[description_tx]
      ,[begin_effective_dt]
      ,[end_effective_dt]
      ,[create_ts]
      ,[create_user_id]
      ,[last_mod_ts]
      ,[last_mod_user_id]
      ,[is_locked]
  FROM [dbo].[stnd_document_code]

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [bio_sequence_format_id]
      ,[bio_sequence_format_nm]
      ,[description_tx]
      ,[begin_effective_dt]
      ,[end_effective_dt]
      ,[create_ts]
      ,[create_user_id]
      ,[last_mod_ts]
      ,[last_mod_user_id]
      ,[is_locked]
  FROM [dbo].[stnd_bio_sequence_format]

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [document_decision_id]
      ,[decision_cd]
      ,[description_tx]
      ,[begin_effective_dt]
      ,[end_effective_dt]
      ,[create_ts]
      ,[create_user_id]
      ,[last_mod_ts]
      ,[last_mod_user_id]
      ,[is_locked]
  FROM [dbo].[stnd_document_decision]

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [source_system_id]
      ,[source_system_name]
      ,[description_tx]
      ,[begin_effective_dt]
      ,[end_effective_dt]
      ,[create_ts]
      ,[create_user_id]
      ,[last_mod_ts]
      ,[last_mod_user_id]
      ,[is_locked]
  FROM [dbo].[stnd_source_system]

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [exported_system_id]
      ,[exported_system_nm]
      ,[description_tx]
      ,[begin_effective_dt]
      ,[end_effective_dt]
      ,[create_ts]
      ,[create_user_id]
      ,[last_mod_ts]
      ,[last_mod_user_id]
      ,[is_locked]
  FROM [dbo].[stnd_export_system]

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [document_version_id]
      ,[content_id]
      ,[bio_sequence_format_id]
      ,[source_system_id]
      ,[submission_id]
      ,[submission_timestamp]
      ,[document_code_id]
      ,[patent_application_no]
      ,[document_decision_id]
      ,[major_version_no]
      ,[sequence_qtuantity]
      ,[create_user_id]
      ,[create_ts]
      ,[last_mod_ts]
      ,[last_mod_user_id]
      ,[is_locked]
      ,[is_deleted]
  FROM [dbo].[document_version]
  
  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [document_subversion_id]
      ,[document_version_id]
      ,[minor_version_no]
      ,[create_ts]
      ,[last_mod_ts]
      ,[last_mod_user_id]
      ,[is_locked]
      ,[is_deleted]
  FROM [dbo].[document_subversion]

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [document_export_id]
      ,[document_version_id]
      ,[document_subversion_id]
      ,[exported_system_id]
      ,[export_status]
      ,[export_ts]
      ,[create_ts]
      ,[create_user_id]
      ,[last_mod_ts]
      ,[last_mod_user_id]
      ,[is_locked]
      ,[is_deleted]
  FROM [dbo].[document_export]